*{
    margin: 0;
  
    border: border-box;
    color: white;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #033B4A;
    padding: 2px 23px;
}
.left{
    color: white;
    display: flex;
    align-items: center;
}
.title{
   margin: 0px 10px;
}
.center{
    text-align: center;
}
.center ul{
    display: flex;
    align-items: center;
}
.center ul li{
    list-style: none;
    margin: 0px 30px;
    font-size: 1.15rem;
}
.center ul li a{
    text-decoration: none;
color:white;
}
.center ul li a:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
.right{
    display: flex;
    
   align-items: center;
}
#login_logo{
    margin: 0px 5px 0px 0px;
}
#cart_logo{
    margin: 0px 5px 0px 20px;
}



/* footer */
footer{
    margin-top: 1rem;
   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.foot-panel1{
        background-color: #033B4A;
        color: white;
        height: 250px;
        display: flex;
        justify-content: space-evenly;
}
.foot-panel1 ul p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.foot-panel2{
    background-color: #033B4A;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 0.5rem;
}

ul{
    margin-top: 1.2rem;
}
ul a{
    display: block;
    font-size: 0.90rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}
a {
    text-decoration: none; 
    color: inherit; 
    margin-right: 10px;
}
.follow{
    display: flex;
    align-items: center; /* Aligns icons vertically centered */
    justify-content: center;
}
.follow i{
    font-size: 1.5rem;
}
.fa-facebook {
    color: #3b5998; 
}
.fa-instagram {
    color: #E1306C; 
}
.fa-twitter {
    color: #74C0FC;
}
.fa-linkedin {
    color: #74C0FC; 
}
a:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}